.tag {

  border: 1px solid rgb(104, 104, 243);
  background: rgb(104, 104, 243, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  padding: 2px 13px 2px 10px;

  &__text {
    color: #fff;
    font-size: 14px;
  }
}