.container {
    flex-grow: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}
.slider {
    position: relative;
    width: 320px;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;

}
.slider::-webkit-scrollbar {
    display: none;
}

.slider__list {
    display: flex;
    flex-direction: column;
}